################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/tfs_generate/FileContentIndex/05706e9d-f57e-4781-bb8e-a6e573bccb33.vsidx
/.vs/tfs_generate/FileContentIndex/0748ce13-7ee4-476c-b092-67aa6cb1508c.vsidx
/.vs/tfs_generate/FileContentIndex/12dbc2b6-436d-426e-b1db-bcfd2c18e9c0.vsidx
/.vs/tfs_generate/FileContentIndex/19ca38d4-318a-497c-af57-190f9325668d.vsidx
/.vs/tfs_generate/FileContentIndex/26c79657-055f-4d4a-a388-ed08c79e1541.vsidx
/.vs/tfs_generate/FileContentIndex/2fb5bdd8-0ac6-496f-b790-eba41646bac4.vsidx
/.vs/tfs_generate/FileContentIndex/3aa56d89-1799-4dfc-b6c6-03218795da76.vsidx
/.vs/tfs_generate/FileContentIndex/c2596b91-b19f-469c-9c81-a796275ec9f5.vsidx
/.vs/tfs_generate/v17/.suo
/.vs/tfs_generate/FileContentIndex/bc64cd8c-85d1-4f38-8bf9-fbdba794c5be.vsidx
/.vs/tfs_generate/FileContentIndex
/.vs
/time_report.xlsx
/time_report_2.xlsx
